<div id='shop'>
  <!-- <div class='search_bar'>
    <%= form_tag(equipments_path, :method => "get", id: "search-form") do %>
        <%= image_tag('search.png', :class => "search_img") %>
        <%= text_field_tag(:search, params[:search], placeholder: "Search Products", :style=>'width:200px') %>
    <% end %>
  </div> -->
    <div class='all_products'>
        <% @products.each do |product| %>
        <div class='product_block'>
          <div class='product_name'>
            <%= product.title %>
          </div>
          <div class="product_image">
            <%= image_tag product.images.first.src , height: '150', width: '150'%>
          </div>
           <div class='product_price'>
            <%= product.variants.first.attributes[:price] %>
          </div>
        </div>
      <% end %>
    </div>
  <div class='shop_content'>
    <div>
      FREE CURBSIDE DELIVERY WITHIN 50 MI RADIUS OF PACHECO, CA
    </div>
    <div>
      MOST MACHINES COME WITH A 90 DAY WARRANTY
    </div>
    <div>
      CALL NOW TO ORDER!
    </div>
    <div>
      925-766-1784
    </div>
  </div>
</div>
