<nav>
	<div class="mynav">
		<%= image_tag('logo.png') %>
		<!-- <ul class="custom-nav nav nav-tabs">
				<li class="dropdown pull-right">
					 <a href="#" data-toggle="dropdown" class="dropdown-toggle">Options<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>hi
						</li>
					</ul>
				</li>
		</ul> -->
		<h3 class="mynav_child"> CALL 925-766-1784 </h3>

	</div>
		<div class='actualnav'>
			<ul>
				<li><%= link_to 'HOME', root_path %></li>
				<li><%= link_to 'SHOP', equipments_path %></li>
				<li><%= link_to 'LOGIN', login_path %></li>
				<li><%= link_to 'LOGOUT', logout_path %></li>
				<li><a href="#">ABOUT</a></li>
			</ul>
		</div>
	<!-- <div class="navbar-custom">
		<div class="navbar-inner">
			<ul class="nav">
				<li><%= link_to 'HOME', root_path %></li>
				<li><%= link_to 'SHOP', equipments_path %></li>
				<li><a href="#">ABOUT</a></li>
			</ul>
		</div>
	</div> -->
</nav>
