<div class='static_img'>
  <%= image_tag('exercise-equip-stock.png') %>
</div>

<div class='horizontal-equipment '>
    <div class='images'>
      <%= image_tag('Bike2.png') %>
      <h3>Bikes </h3>
    </div>
    <div class='images'>
      <%= image_tag('Elliptical2.png') %>
      <h3>Ellipticals </h3>
    </div>
    <div class='images'>
      <%= image_tag('sequip2.png') %>
      <h3>Strength Equipment </h3>
    </div>
    <div class='images'>
      <%= image_tag('Stepper2.png') %>
      <h3>Steppers</h3>
    </div>
    <div class='images'>
      <%= image_tag('Treadmill2.png') %>
      <h3>Treadmills</h3>
    </div>
  </row>
</div>
